* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.container {
    justify-content: center;
    display: flex; 
}

.container img {
    width: 300px;
}

h1 {
    text-align: center;
    margin-top: -75px;
    font-size: 36px;
}

